<form enctype="multipart/form-data" method="post" action="">

    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">ID:</label>
        <input type="text" class="form-control" id="validationCustom01" value="ID" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="validationCustom02" value="Descripcion" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-3">
        <label for="validationCustom03" class="form-label">Estado</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Agregar</button>
      </div>
    </form>

</form>