{% extends "../Base/base.html"%}
{%block tittle} Entrada de Documentos {%endblock}
{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 offest-md-6">
        <h2>Gestion de Entrada de Documentos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editEntradaDocumento/{{entradaDocumento.codigo}}/" method="POST">{% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="numeroDocumento">Numero de Documento</label>
                        <input type="text" id="numeroDocumento" name="numeroDocumento" class="form-control" 
                        placeholder="Numero de documento" minlength="6" maxlength="50" required value={{entradaDocumento.numeroDocumento}} />
                    </div>
                    <div class="form-group mb-2">
                        <label for="numeroFactura">Numero de Factura</label>
                        <input type="text" id="numeroFactura" name="numeroFactura" class="form-control" 
                        placeholder="Numero de factura" minlength="6" maxlength="50" required value={{entradaDocumento.numeroFactura}} />
                    </div>
                    <div class="form-group mb-2">
                        <label for="fechaDocumento">Fecha del documento</label>
                        <input type="date" id="fechaDocumento" name="fechaDocumento" class="form-control" 
                        placeholder="Fecha del documento" required value={{entradaDocumento.fechaDocumento|date:"Y-m-d"}} />
                    </div>
                    <div class="form-group mb-2">
                        <label for="monto">Monto</label>
                        <input type="text" id="monto" name="monto" class="form-control" min="0"
                        placeholder="Monto" required value={{entradaDocumento.monto}} />
                    </div>
                    <div class="form-group mb-2">
                        <label for="fechaRegistro">Fecha de registro</label>
                        <input type="date" id="fechaRegistro" name="fechaRegistro" class="form-control" 
                        placeholder="Fecha de registro" required value={{entradaDocumento.fechaRegistro|date:"Y-m-d"}} />
                    </div>
                    <div class="form-group mb-2">
                        <label for="proveedor">Proveedor</label>
                        <select class="form-select" name="proveedor" required >
                        {% if proveedores %}
                        {% for proveedor in proveedores %}
                            <option value="{{proveedor.nombre}}" 
                            {% if entradaDocumento.proveedor == proveedor.nombre  %} selected="selected"{% endif %}>{{proveedor.nombre}}</option>
                            {% endfor %}
                          {% else %}
                            <option value="">No hay proveedores</option>
                        {% endif %}
                    </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="estado">Estado</label>
                        <select class="form-select" name="estado" required>
                            <option value="Pendiente" {% if entradaDocumento.estado == 'Pendiente' %} selected="selected"{% endif %}>Pendiente</option>
                            <option value="Pagado" {% if entradaDocumento.estado == 'Pagado' %} selected="selected"{% endif %}>Pagado</option>
                          </select>
                    </div>
                    <div class="form-group d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                    </div>
                </form>
            </div>
    </div>
        
</div>
{%endblock%}